.dashboard-layout {
    background-color:transparent;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    box-sizing: border-box;
}

header {
    /* Estilos para el encabezado */
    margin-bottom: 20px;
    text-align: center;
}

.main-content {
    /* Estilos para el área de contenido principal */
    width: 95%; /* Ejemplo de ancho */
    padding: 20px;
    background-color: white; /* Fondo blanco para el contenido principal */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

footer {
    /* Estilos para el pie de página */
    margin-top: 20px;
    text-align: center;
    color: #777;
    box-sizing: border-box;
}